<?xml version="1.0"?>
<configuration>




<configSections>
	<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
		<section name="MagNetXAnalyzer.MagNetXAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
	</sectionGroup>
  </configSections>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>






	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.NiLmClientDLL" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.190" newVersion="13.0.40.190"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.190" newVersion="13.0.40.190"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common.Native" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.190" newVersion="13.0.40.190"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.MStudioCLM" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.40.190" newVersion="13.0.40.190"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>



</configuration>
